.hero {
    align-items: flex-start;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--clr-primary);
    font-family: 'Press Start 2P';
    border-radius: 5rem;
    box-shadow: 2rem 2rem 4rem 0 rgba(0,0,0,.25);
    background: var(--clr-primary);
    color: var(--clr-accent-white);
    width: 1004px;
    height: 930px;
    margin-top: 3rem;
}

.top {
    text-align: center;
}

.heading {
    margin-block: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.heading span {
    color: var(--clr-accent-green);
}

.heading h1 {
    font-size: 3.9rem;
    margin-bottom: 1.4rem;
}

.icon {
    display: none;
}

.heading p {
    font-size: 1.2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
    margin-bottom: 4.1rem;
    font-size: 1.2rem;
}


.inputs input {
    width: 540px;
    height: 60px;
    background-color: var(--clr-primary);
    border: 0.1rem solid var(--clr-accent-white);
    color: var(--clr-accent-white);
    margin: 1.2rem 0 2.4rem !important;
    padding-block: 0;
}

.footing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    height: 45px;
    font-size: 1.4rem;
}

.footing a {
    text-decoration: none;
    color: var(--clr-accent-white);
}

.footing a:visited {
    text-decoration: none;
    color: var(--clr-accent-white);
}

.footing button {
    background-color: var(--clr-accent-green);
    color: var(--clr-accent-white);
    border: 0;
    font-family: 'Press Start 2P';
    font-size: 2rem;
    width: 214px;
    height: 64px;
    border-radius: 1rem;
}

.footing button:hover {
    background-color: var(--clr-accent-white);
    color: var(--clr-accent-black);
    cursor: pointer;
}


.form-signup-profile, .sub-title, .profile-picture {
    display: none;
}

.form-signup {
    margin-top: 3.7rem;
}

.on {
    display: flex;
    flex-direction: column;
}

.pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.profile-picture.on {
    height: 180px;
    width: 180px;
}

.form-profile {
    margin-top: 6.2rem;
    flex-direction: column;
    gap: 5rem;
}

.form-profile .inputs {
    gap: 2.1rem;
}

.form-profile .inputs, input {
    margin: 0 !important;
}

.form-profile .footing {
    display: flex;
    justify-content: center;
    width: 100%;
}