.about-container {
    display: flex;
    align-items: center;
}


.about-text {
    z-index: 4;
    margin-inline: 15rem;
    position: absolute;
    font-family: 'Press Start 2P';
    color: var(--clr-accent-white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-text h1 {
    font-size: 6rem;
}

.about-text p {
    max-width: 500px;
}

.text-align-right {
    justify-content: flex-end;
}
.text-align-left {
    justify-content: flex-start;
}

