<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../static/resources/images/icon.ico">
    {% block static %}
    {% endblock static%}
    <title>{{title}} | PyGreen</title>
</head>
<body id="body">
    <section id="login-screen" style="display: none;">
        <div class="login-container">
            <div class="modal-login">
                <div class="title-login">
                    <h1>ENTRAR NO UNIVERSO PY<span>GREEN</span></h1>
                    <button id="close-login"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <form action="login" method="post">
                    <div class="inputs-login">
                        <input type="text" placeholder="usuário" name="usuario" required>
                        <input maxlength="16" class="password" type="password" placeholder="senha" name="password" required>
                    </div>
                    <div class="forget-anchor">
                        <a class="forget-password" href="">esqueci minha senha</a>
                    </div>
                    <div class="button-start">
                        <button type="submit" value="logar"><p>START</p><i class="fa-solid fa-play"></i></button>
                    </div>
                
                    <div class="footer-login">
                        <p>Não tem uma conta?</p>
                        <a href="/signup">Inscreva-se</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <header>
        <nav class="nav-bar">
            <div class="mobile-menu-icon">
                <button onclick="showMenu()" class="menu-button-mobile"><i class="fa-solid fa-bars fa-xl"></i></button>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="..\static\resources\images\LogoPygreen.png" alt="logo pygreen">
                    <p>PYGREEN</p>
                </a>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/#banner-trailer" class="nav-link">Trailer</a></li>
                    <li class="nav-item"><a href="/curso" class="nav-link">Curso</a></li>
                    <li class="nav-item"><a href="/sobre" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><button id="login-button">Entrar / Cadastrar</button></li>
                </ul>
            </div>
            <div class="mobile-login">
                <a href="/signin" class="login-button-mobile"><i class="fa-solid fa-right-to-bracket icon fa-xl"></i></a>
            </div>
        </nav>
        <div class="menu-mobile">
            <ul>
                <li class="nav-item"><a href="" class="nav-link">Trailer</a></li>
                <li class="nav-item"><a href="" class="nav-link">Curso</a></li>
                <li class="nav-item"><a href="" class="nav-link">Sobre</a></li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <section id="footer-content">
            <div class="contact-container">
                <h1>Contato</h1>
                <p>pygreen2023@gmail.com</p>
                <p>(84) XXXXX-XXXX</p>
            </div>
        </section>
        <section id="copyright">
            <p>© 2023 Pygreen. Todos os direitos reservados.</p>
        </section>
    </footer>

    <script>
        var loginButton = document.getElementById("login-button");
        var closeLoginButton = document.getElementById("close-login")
        var container = document.getElementById("login-screen");

        function openLogin() {
            if(container.style.display === "none") {
                container.style.display = "block";
                document.getElementById("body").classList.add('disable-scroll');
            } else {
                container.style.display = "none";
                document.getElementById("body").classList.remove('disable-scroll');
            }
        };


        function closeLogin() {
            if(container.style.display === "none") {
                container.style.display = "block";
                document.getElementById("body").classList.add('disable-scroll');
            } else {
                container.style.display = "none";
                document.getElementById("body").classList.remove('disable-scroll');
                document.getElementById("login-screen").classList("fade-out")
            }
        };

        loginButton.addEventListener("click", openLogin);
        closeLoginButton.addEventListener("click", closeLogin);
    </script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>