{% extends "base.html" %}
{% block static %}
<link rel="stylesheet" href="../static/css/chaveacessoCSS/styledesktop.css">
<link rel="stylesheet" href="../static/css/chaveacessoCSS/stylemobile.css">
<link rel="stylesheet" href="../static/css/stylebase.css">
{% endblock static %}
{% block content %}
<section class="hero">
    <div class="key-container">
        <div class="key-items">
            <div class="key-title-item">
                <i class="fa-solid fa-key"></i>
                <p>Chave de acesso</p>
            </div>
            <div class="key-input-item">
                <input type="text" placeholder="Chave" id="input-field">
            </div>
            <div class="key-button-item">
                <button>Vamo lá!</button>
            </div>                    
            <div class="key-subtitle-item">
                <p>A chave de acesso é exclusiva para alunos que estão cursando presencialmente.</p>
            </div>
        </div>
    </div>
    <div class="key-img">
        <img src="../static/resources/images/aluno-key.png" alt="">
    </div>
</section>
{% endblock content %}
{% block javascript %}
    <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
{% endblock javascript %}