<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso | PyGreen</title>
</head>
<body>
    <header></header>
    <main>
        <section class="hero">
            <div class="hero-heading" id="hero-1">
                <h1>curso <span>py</span>green</h1>
                <p>Além de se tornar um Dev Mestre no PyGreen: The game, os alunos do curso Pygreen, tem a oportunidade de terem aulas presenciais, podendo melhorar ainda mais suas habilidades, dentro e fora de jogo, podendo se tornar um <span>Dev Grão-Mestre</span>.</p>
                <p>Caso não tenha acesso presencial ao curso, vídeos das aulas e de apoio serão disponibilizados na aba de <span>vídeos</span> do curso.</p>
                <a href="">entrar</a>
                <a href="">conheça mais</a>
            </div>
            <div class="hero-heading" id="hero-2">
                <h1>seja <span>um</span> dev <span>Grão-Mestre</span></h1>
            </div>
        </section>
        <section class="carousel">
        </section>
    </main>
    <footer></footer>
</body>
</html>