{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="../static/css/stylebase.css">
    <link rel="stylesheet" href="../static/css/cursoCSS/styledesktop.css">
    <link rel="stylesheet" href="../static/css/cursoCSS/stylemobile.css">
{% endblock static %}
{% block content %}
<section class="hero">
    <div class="hero-heading" id="hero-1">
        <h1>curso py<span>green</span></h1>
        <p>Além de se tornar um Dev Mestre no <span>Paison Code</span>, os alunos do curso <span>PyGreen: Disseminando tecnologia</span> tem a oportunidade de terem aulas presenciais, podendo melhorar ainda mais suas habilidades, dentro e fora de jogo, podendo se tornar um <span>Dev Grão-Mestre</span>.</p>
        <p>Caso não tenha acesso presencial ao curso, vídeos das aulas e de apoio serão disponibilizados na aba de <span>vídeos</span> do curso.</p>
        <a class="button-course" href="/chaveAcesso">Acessar curso</a>
        <a class="more-about" href="#trajetoria">conheça mais</a>
    </div>
    <div class="hero-heading" id="hero-2">
        <div class="title-hero-2">
            <h1>seja <span>um</span> dev <span>Grão-Mestre</span></h1>
        </div>
        <div class="img-hero-2">
            <img src="../static/resources/images/DEV MESTRE.png" alt="">
        </div>  
    </div>
</section>

<section id="trajetoria" class="trajetoria">
    <img src="../static/resources/images/trajetoria-3.png" alt=""> 
    <div class="card">
        <div class="content-left">
            <div class="card-heading">
                <h1><span class="highlight-text">TEMA, OBJETIVO(S) E CONTEÚDO(S) PROGRAMÁTICO(S)</span></h1>
            </div>
            <p><span class="highlight-text">TEMA:</span> A LINGUAGEM PYTHON E COMO ELA FUNCIONA</p>
            <p><span class="highlight-text">OBJETIVO:</span>APRESENTAR A LINGUAGEM PYTHON</p>
            <P><span class="highlight-text">CONTEÚDO PROGRAMÁTICO:</span></P>
            <ul>
                <li>Python Introdutório I</li>
                <li>Métodos de saída</li>
                <li>operadores de atribuição, variáveis e constantes</li>
                <li>métodos de entrada</li>
                <li>tipos de dados (int, bool, float, str, list)</li>
                <li>operadores aritméticos</li>
                <li>Apresentando ferramentas de submissão e avaliação de programas</li>
                <li>Realização de primeiras submissões de códigos. Aprendendo sobre entrada e saída</li>
            </ul>
        </div>
        <div class="content-right">
            <div class="card-heading">
                <h1><span class="highlight-text">METODOLOGIA PEDAGÓGICA E FERRAMENTAS UTILIZADAS</span></h1>
                <p>Aula dialogada/Expositiva</p>
                <p>Utilização do beecrowd ou neps academy</p>
                <p>Apresentação do episódio 4 do curso de python do curso em vídeo</p>
                <p>Atividade para casa: assistir aulas #6 e #7 do curso de python do curso em vídeo</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}