<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\homeCSS\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\homeCSS\stylemobile.css">
    <link rel="stylesheet" href="..\static\css\stylebase.css">
    <title>Página Inicial | PyGreen</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="">
                    <img src="..\static\resources\images\LogoPygreen.png" alt="logo pygreen">
                    <p>PYGREEN</p>
                </a>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="" class="nav-link">Trailer</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Curso</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><button class="login-button"><a href="#">Entrar / Cadastrar</a></button></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>