{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="..\static\css\homeCSS\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\homeCSS\stylemobile.css">
    <link rel="stylesheet" href="..\static\css\stylebase.css">
{% endblock static %}
{% block content %}
    <section class="hero" id="hero">
        <div class="container-hero">
            <img class="logo-paison" src="../static/resources/images/LogoPaison.png" alt="">
            <div class="text-hero">
                <h1>SEJA BEM-VINDO</h1>
                <p>Neste mundo incrível de aventura e educação, evolua suas habilidades em programação com Python, encare grandes desafios e se torne o Dev Mestre que tem dentro de você.</p>
                <a href="">Jogar agora</a>
            </div>
        </div>
    </section>
    
    <section class="carousel-game" id="carousel-game">
        <button class="carousel-button carousel-button-left">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div class="carousel-track-container">
            <ul class="carousel-track">
                <li class="carousel-slide"><img class="carousel-image" src="../static/resources/images/Background.png" alt=""></li>
                <li class="carousel-slide"><img class="carousel-image" src="../static/resources/images/Background.png" alt=""></li>
                <li class="carousel-slide"><img class="carousel-image" src="../static/resources/images/Background.png" alt=""></li>
            </ul>
        </div>
        <button class="carousel-button carousel-button-left">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </section>
    
    <section id="banner-trailer">
        
    </section>
{% endblock content %}