{% extends "base.html" %}
{% block static %}
    <link rel="stylesheet" href="..\static\css\homeCSS\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\homeCSS\stylemobile.css">
    <link rel="stylesheet" href="..\static\css\stylebase.css">
{% endblock static %}
{% block content %}
    <section class="hero" id="hero">
        <div class="container-hero">
            <img class="logo-paison" src="../static/resources/images/LogoPaison.png" alt="">
            <div class="text-hero">
                <h1>SEJA BEM-VINDO</h1>
                <p>Neste mundo incrível de aventura e educação, evolua suas habilidades em programação com Python, encare grandes desafios e se torne o Dev Mestre que tem dentro de você.</p>
                <a href="">Jogar agora</a>
            </div>
        </div>
    </section>
    
    <section class="carousel" id="carousel">
        <button class="carousel-button carousel-button-left">
            <i class="fa-solid fa-chevron-left fa-6x"></i>
        </button>
        <div class="carousel-images">
            <figure class="slide on">
                <img src="../static/resources/images/Background.png" alt="">
                <figcaption>O jogo contará com grandes aventuras e te desafiará a cada momento</figcaption>
            </figure>
            <figure class="slide">
                <img src="../static/resources/images/Background.png" alt="">
                <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam debitis nesciunt doloribus. Vero voluptas neque dolorum deleniti veritatis, tempore at ab quidem! Nobis molestias qui aperiam ex placeat voluptatibus pariatur.</figcaption>
            </figure>
            <figure class="slide">
                <img src="../static/resources/images/Background.png" alt="">
                <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorum asperiores atque laboriosam iusto eaque ut suscipit hic culpa aut non, aspernatur id, fugiat, eveniet nihil nemo dolor consequuntur repudiandae.</figcaption>
            </figure>
        </div>
        <button class="carousel-button carousel-button-right">
            <i class="fa-solid fa-chevron-right fa-6x"></i>
        </button>
    </section>
    
    <section id="banner-trailer">
        
    </section>
{% endblock content %}