{% extends "base.html" %}
{% block static %}
<link rel="stylesheet" href="../static/css/stylebase.css">
<link rel="stylesheet" href="../static/css/loginMobileCSS/loginMobile.CSS">
{% endblock static %}
{% block content %}
<section class="hero">
    <div class="container">
        <div class="heading">
            <div class="top">
                <h1>ENTRAR NO UNIVERSO PY<span>GREEN</span></span></h1>
            </div>
            <span class="icon"><a href="/"><i class="fa-solid fa-xmark fa-2xl"></a></i>
        </div>
        <div class="inputs">
            <input type="text" placeholder="usuário">
            <input class="password" type="password" placeholder="senha">
            <a class="forget-password" href="">esqueci minha senha</a>
        </div>
        <div class="footing">
            <a href="/signup">Não tem uma conta?</a>
            <button>Entrar</button>
        </div>
    </div>
</section>
{% endblock content %}