{% extends "base.html" %}
{% block static %}
<link rel="stylesheet" href="../static/css/perfiluserCSS/styledesktop.css">
<link rel="stylesheet" href="../static/css/perfiluserCSS/stylemobile.css">
<link rel="stylesheet" href="../static/css/stylebase.css">
<title>{{ nome }} (@{{ usuario }}) | PyGreen</title>
{% endblock static %}

{% block content %}
<section id="perfil">
    <div class="perfil-container">
        <div class="header-profile">
            <h1>Perfil</h1>
        </div>
        <div class="content-profile">
            <div class="infos-user">
                <h1>Nível 1</h1>
                <img src="../static/resources/images/fotosPerfil/{{ foto_perfil }}" alt="">
                <h1>{{ nome }} {{ sobrenome }}</h1>
                <h3>@{{ usuario }}</h3>
                <h3>ID: {{ pessoaID }}</h3>
                <div class="bio-user">
                    <p>{{ bio_perfil }}</p>
                </div>
            </div>
            <div class="topics-user">
                <h1 class="title-badges">Insígnias</h1>
                <div class="badges">
                    <img src="../static/resources/images/insigniaPrata.png" alt="">
                    <img src="../static/resources/images/insigniaOuro.png" alt="">
                </div>
                <h1 class="title-progress">Progresso no jogo</h1>
                <table>
                    <tr>
                        <th class="name-column" style="color: var(--clr-accent-green);">Nome</th>
                        <th class="resolution-column" style="color: var(--clr-accent-green);">Resolução</th>    
                    </tr>
                    <tr>
                        <td class="left-column">Abrir porta</td>
                        <td class="right-column">Feito</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-profile">
            <a href="/editar-perfil/{{ usuario }}">
                <div class="edit-profile">
                    <i class="fa-solid fa-user-pen"></i>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock content %}
{% block javascript %}
    <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
{% endblock javascript %}