<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\cadastrarCSS\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\stylebase.css">
    <title>Cadastar-se | PyGreen</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="">
                    <img src="..\static\resources\images\LogoPygreen.png" alt="logo pygreen">
                    <p>PYGREEN</p>
                </a>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="" class="nav-link">Trailer</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Curso</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><button id="login-button">Entrar / Cadastrar</button></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="heading">
                    <h1>PY<span>GREEN</span></h1>
                    <p>CADASTRE-SE</p>
                </div>
                <div class="inputs">
                    <p>Nome *</p>
                    <input type="text">
                    <p>Sobrenome *</p>
                    <input type="text">
                    <p>Email *</p>
                    <input type="email">
                    <p>Senha *</p>
                    <input type="text">
                </div>
                <div class="footing">
                    <a>Já tem uma conta?</a>
                    <button>Cadastrar</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section id="footer-content">
            <div class="contact-container">
                <h1>Contato</h1>
                <p>pygreen2023@gmail.com</p>
                <p>(84) XXXXX-XXXX</p>
            </div>
        </section>
        <section id="copyright">
            <p>© 2023 Pygreen. Todos os direitos reservados.</p>
        </section>
    </footer>
</body>
</html>