{% extends "forms.html" %}
{% block sub_title %}
<p id="sub-title-signup" class="sub-title">CADASTRE-SE</p>
{% endblock sub_title %}
{% block forms %}
    <form id="form-signup" class="form-signup-profile form-signup on" action="signup" method="post">
        <div class="inputs">
            <p>Nome *</p>
            <input type="text" name="name" required>
            <p>Sobrenome *</p>
            <input type="text" name="last-name"required>
            <p>Email *</p>
            <input type="email" name="email" required>
            <p>Senha *</p>
            <input class="password" maxlength="16" class="password" maxlength="16" type="password" name="password" required>
        </div>
            <div class="footing">
                <a href="/signin">Já tem uma conta?</a>
                <button type="submit" id="btn-registrar" value="registrar">Cadastrar</button>
            </div>
        </form>
    </div>
</section>
{% endblock forms %}
{% block javascript %}
    <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
{% endblock javascript %}