{% extends "base.html" %}
{% block static%}
    <link rel="stylesheet" href="..\static\css\SobreCSS\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\SobreCSS\stylemobile.css">
    <link rel="stylesheet" href="..\static\css\stylebase.css">
{% endblock static%}
{% block content%}
    <section id="about-us">
        <h1>Sobre os criadores <span>.</span></h1>
        <div class="about-container">
            <div class="about-card">
                <img src="../static/resources/images/sobre/emilly2.jpeg">
                <h1>EMILLY ESTEFANNY</h1>
                <p>Eai pessoal, me chamo Emilly Estefanny. Sou aluna do Instituto Federal do Rio Grande do Norte do campus Ceará-Mirim, entrei no IFRN no ano de 2021 e agora no ano de 2023 estou cursando o terceiro período do curso de informática.</p>
                <div class="social-media">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="about-card">
                <img src="../static/resources/images/sobre/yuji.jpeg">
                <h1>GABRIEL YUJI</h1>
                <p>Opa pessoal, meu nome é Yuji, tenho 18 anos, gosto de desenhar, jogar videogames, e tento programar alguma coisa de jogos.</p>
                <div class="social-media">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="about-card">
                <img src="../static/resources/images/sobre/pedroAugusto.jpg">
                <h1>PEDRO AUGUSTO</h1>
                <p>Salve, tenho 18 anos, estou cursando o terceiro ano do ensino médio no IFRN campus Ceará-Mirim, gosto de programação competitiva e jogos digitais e fui um dos responsáveis pelo desenvolvimento e implementação do site do Pygreen.</p>
                <div class="social-media">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="about-card">
                <img src="../static/resources/images/sobre/leon2.jpeg">
                <h1>LEON SEDOV</h1>
                <p>Hello world, Sou Leon sedov, programador e estudo informática aqui no IFCM. Espero que gostem de tudo.</p>
                <div class="social-media">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="about-card">
                <img src="../static/resources/images/sobre/pedroPegado.jpeg">
                <h1>PEDRO PEGADO</h1>
                <p>Oioi, sou o Pedro e sou estudante de informática do IFRN, campus Ceará-Mirim, sou fã de dublagem e jogos competitivos, e participei do desenvolvimento do site Pygreen.</p>
                <div class="social-media">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="about-project">
        <h1>Sobre o projeto <span>.</span></h1>
        <div class="text-project">
            <p>O Projeto PyGreen nasceu da vontade de proporcionar aos jovens de escolas públicas uma chance de aprender programação. Ao perceber a falta de acesso a esses conhecimentos em algumas comunidades, decidimos criar uma iniciativa aberta a todos, independentemente de onde vivem ou de seus recursos financeiros.</p>
            <p>A essência do nosso projeto é a certeza de que a programação vai além dos computadores, sendo uma ferramenta para desbloquear oportunidades e desenvolver habilidades de resolução de problemas e criatividade. No centro do nosso esforço está tornar o aprendizado de programação envolvente e acessível. O "Paison Code", um jogo desenvolvido como parte do projeto, visa tornar essa jornada de aprendizagem uma experiência atraente e estimulante.</p>
            <p>Em resumo, o Projeto PyGreen surge da ideia central de que todos merecem a chance de aprender a programar. Buscamos capacitar jovens para se tornarem proficientes em tecnologia e enfrentarem os desafios do mundo contemporâneo.</p>
        </div>
    </section>
{% endblock content%}
{% block javascript %}
    <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
{% endblock javascript %}