{% extends "base.html" %}
{% block static%}
    <link rel="stylesheet" href="..\static\css\SobreCSS\styledesktop.css">
    <link rel="stylesheet" href="..\static\css\SobreCSS\stylemobile.css">
    <link rel="stylesheet" href="..\static\css\stylebase.css">
{% endblock static%}
{% block content%}
    <section id="about-us">
        <div class="about-container text-align-right">
            <div class="about-text">
                <h1>Emilly</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repellat voluptatem dolorem aliquam temporibus quod veniam, magnam facilis voluptas officiis inventore itaque, corporis hic beatae id, sunt unde! Mollitia libero, laboriosam veniam reiciendis quae asperiores, amet, ratione voluptatum eligendi modi fugiat culpa voluptatibus obcaecati quidem!</p>
            </div>
            <img src="../static/resources/images/sobre/pedro.png"">
        </div>
        <div class="about-container text-align-left">
            <div class="about-text">
                <h1>Pedro</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia laudantium, ut commodi non debitis quis, enim id odit suscipit sequi optio, nulla in quas sit error recusandae a! Voluptate perspiciatis distinctio, voluptates pariatur eveniet est maxime sapiente consequatur necessitatibus, hic vel nemo debitis reiciendis quidem.</p>
            </div>
            <img src="../static/resources/images/sobre/pedro.png" alt="">
        </div>
    </section>
{% endblock content%}
{% block javascript %}
    <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
{% endblock javascript %}