@media screen and (max-width:1380px) {
    #perfil {
        display: flex;
        flex-direction: column;
    }

    .perfil-container {
        max-width: 1280px;
        height: 1620px;
        margin-inline: 2rem;
        flex-shrink: 1;
        margin-top: 4rem;
        margin-bottom: 8rem;
    }

    .content-profile {
        flex-direction: column;
        align-items: center;
        margin-top: -50rem !important;
    }

    .content-profile h1, h3 {
        text-align: center;
    }
    
    .title-badges {
        margin-top: 2rem;
    }

    .topics-user table{
        max-width: 800px !important;
        flex-shrink: 2;
        display: flex;
    }

    .topics-user table th, td {
        text-align: center;
        padding-inline: 0 !important;
        padding-block: .5rem;
    }
}